In [5]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('adult.csv')
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [10]:
df.shape

(48842, 15)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       48842 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education_num   48842 non-null  int64
 5   marital_status  48842 non-null  object
 6   occupation      48842 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital_gain    48842 non-null  int64
 11  capital_loss    48842 non-null  int64
 12  hours_per_week  48842 non-null  int64
 13  native_country  48842 non-null  object
 14  income          48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [14]:
df.income.unique()

array(['<=50K', '>50K'], dtype=object)

In [17]:
df.income.value_counts()

<=50K    37155
>50K     11687
Name: income, dtype: int64

In [18]:
# Check for missing variables in categorical data
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [19]:
df.workclass.unique()

array(['Private', 'Local-gov', '?', 'Self-emp-not-inc', 'Federal-gov',
       'State-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [20]:
df.workclass.value_counts()

Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: workclass, dtype: int64

In [22]:
df.workclass.replace('?',np.NaN,inplace=True)

In [23]:
df.workclass.value_counts()

Private             33906
Self-emp-not-inc     3862
Local-gov            3136
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: workclass, dtype: int64

In [24]:
df.occupation.value_counts()

Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64

In [25]:
df.occupation.replace('?',np.NaN,inplace=True)

In [26]:
df.workclass.value_counts()

Private             33906
Self-emp-not-inc     3862
Local-gov            3136
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: workclass, dtype: int64

In [27]:
df.relationship.value_counts()

Husband           19716
Not-in-family     12583
Own-child          7581
Unmarried          5125
Wife               2331
Other-relative     1506
Name: relationship, dtype: int64

In [28]:
df.native_country.value_counts()

United-States                 43832
Mexico                          951
?                               857
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Laos                             23
Yugoslavia                       23
Outlying-US(Guam-USVI-etc)       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: native_country, dtype: int64

In [29]:
df.native_country.replace('?',np.NaN,inplace=True)

In [30]:
df.native_country.value_counts()

United-States                 43832
Mexico                          951
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Yugoslavia                       23
Outlying-US(Guam-USVI-etc)       23
Laos                             23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: native_country, dtype: int64

In [31]:
df.capital_gain.value_counts()

0        44807
15024      513
7688       410
7298       364
99999      244
         ...
1111         1
7262         1
22040        1
1639         1
2387         1
Name: capital_gain, Length: 123, dtype: int64

In [33]:
df.isnull().sum()

age                  0
workclass         2799
fnlwgt               0
education            0
education_num        0
marital_status       0
occupation        2809
relationship         0
race                 0
sex                  0
capital_gain         0
capital_loss         0
hours_per_week       0
native_country     857
income               0
dtype: int64

Model

In [53]:
x=df.drop(['income'],axis=1)
x

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States

In [54]:
y=df.income
y

0        <=50K
1        <=50K
2         >50K
3         >50K
4        <=50K
         ...
48837    <=50K
48838     >50K
48839    <=50K
48840    <=50K
48841     >50K
Name: income, Length: 48842, dtype: object

In [55]:
x=pd.get_dummies(x,drop_first=True)
x

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,...,native_country_Portugal,native_country_Puerto-Rico,native_country_Scotland,native_country_South,native_country_Taiwan,native_country_Thailand,native_country_Trinadad&Tobago,native_country_United-States,native_country_Vietnam,native_country_Yugoslavia
0,25,226802,7,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,38,89814,9,0,0,50,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,28,336951,12,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,160323,10,7688,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,18,103497,10,0,0,30,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,257302,12,0,0,38,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48838,40,154374,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48839,58,151910,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48840,22,201490,9,0,0,20,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48841,52,287927,9,15024,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [56]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 97 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   age                                        48842 non-null  int64
 1   fnlwgt                                     48842 non-null  int64
 2   education_num                              48842 non-null  int64
 3   capital_gain                               48842 non-null  int64
 4   capital_loss                               48842 non-null  int64
 5   hours_per_week                             48842 non-null  int64
 6   workclass_Local-gov                        48842 non-null  uint8
 7   workclass_Never-worked                     48842 non-null  uint8
 8   workclass_Private                          48842 non-null  uint8
 9   workclass_Self-emp-inc                     48842 non-null  uint8
 10  workclass_Self-emp-not-inc                 48842 non-null  uint8
 11  workclass_State-gov                        48842 non-null  uint8
 12  workclass_Without-pay                      48842 non-null  uint8
 13  education_11th                             48842 non-null  uint8
 14  education_12th                             48842 non-null  uint8
 15  education_1st-4th                          48842 non-null  uint8
 16  education_5th-6th                          48842 non-null  uint8
 17  education_7th-8th                          48842 non-null  uint8
 18  education_9th                              48842 non-null  uint8
 19  education_Assoc-acdm                       48842 non-null  uint8
 20  education_Assoc-voc                        48842 non-null  uint8
 21  education_Bachelors                        48842 non-null  uint8
 22  education_Doctorate                        48842 non-null  uint8
 23  education_HS-grad                          48842 non-null  uint8
 24  education_Masters                          48842 non-null  uint8
 25  education_Preschool                        48842 non-null  uint8
 26  education_Prof-school                      48842 non-null  uint8
 27  education_Some-college                     48842 non-null  uint8
 28  marital_status_Married-AF-spouse           48842 non-null  uint8
 29  marital_status_Married-civ-spouse          48842 non-null  uint8
 30  marital_status_Married-spouse-absent       48842 non-null  uint8
 31  marital_status_Never-married               48842 non-null  uint8
 32  marital_status_Separated                   48842 non-null  uint8
 33  marital_status_Widowed                     48842 non-null  uint8
 34  occupation_Armed-Forces                    48842 non-null  uint8
 35  occupation_Craft-repair                    48842 non-null  uint8
 36  occupation_Exec-managerial                 48842 non-null  uint8
 37  occupation_Farming-fishing                 48842 non-null  uint8
 38  occupation_Handlers-cleaners               48842 non-null  uint8
 39  occupation_Machine-op-inspct               48842 non-null  uint8
 40  occupation_Other-service                   48842 non-null  uint8
 41  occupation_Priv-house-serv                 48842 non-null  uint8
 42  occupation_Prof-specialty                  48842 non-null  uint8
 43  occupation_Protective-serv                 48842 non-null  uint8
 44  occupation_Sales                           48842 non-null  uint8
 45  occupation_Tech-support                    48842 non-null  uint8
 46  occupation_Transport-moving                48842 non-null  uint8
 47  relationship_Not-in-family                 48842 non-null  uint8
 48  relationship_Other-relative                48842 non-null  uint8
 49  relationship_Own-child                     48842 non-null  uint8
 50  relationship_Unmarried                     48842 non-null  uint8
 51  relationship_Wife                          48842 non-null  uint8
 52  race_Asian-Pac-Islander                    48842 non-null  uint8
 53  race_Black                                 48842 non-null  uint8
 54  race_Other                                 48842 non-null  uint8
 55  race_White                                 48842 non-null  uint8
 56  sex_Male                                   48842 non-null  uint8
 57  native_country_Canada                      48842 non-null  uint8
 58  native_country_China                       48842 non-null  uint8
 59  native_country_Columbia                    48842 non-null  uint8
 60  native_country_Cuba                        48842 non-null  uint8
 61  native_country_Dominican-Republic          48842 non-null  uint8
 62  native_country_Ecuador                     48842 non-null  uint8
 63  native_country_El-Salvador                 48842 non-null  uint8
 64  native_country_England                     48842 non-null  uint8
 65  native_country_France                      48842 non-null  uint8
 66  native_country_Germany                     48842 non-null  uint8
 67  native_country_Greece                      48842 non-null  uint8
 68  native_country_Guatemala                   48842 non-null  uint8
 69  native_country_Haiti                       48842 non-null  uint8
 70  native_country_Holand-Netherlands          48842 non-null  uint8
 71  native_country_Honduras                    48842 non-null  uint8
 72  native_country_Hong                        48842 non-null  uint8
 73  native_country_Hungary                     48842 non-null  uint8
 74  native_country_India                       48842 non-null  uint8
 75  native_country_Iran                        48842 non-null  uint8
 76  native_country_Ireland                     48842 non-null  uint8
 77  native_country_Italy                       48842 non-null  uint8
 78  native_country_Jamaica                     48842 non-null  uint8
 79  native_country_Japan                       48842 non-null  uint8
 80  native_country_Laos                        48842 non-null  uint8
 81  native_country_Mexico                      48842 non-null  uint8
 82  native_country_Nicaragua                   48842 non-null  uint8
 83  native_country_Outlying-US(Guam-USVI-etc)  48842 non-null  uint8
 84  native_country_Peru                        48842 non-null  uint8
 85  native_country_Philippines                 48842 non-null  uint8
 86  native_country_Poland                      48842 non-null  uint8
 87  native_country_Portugal                    48842 non-null  uint8
 88  native_country_Puerto-Rico                 48842 non-null  uint8
 89  native_country_Scotland                    48842 non-null  uint8
 90  native_country_South                       48842 non-null  uint8
 91  native_country_Taiwan                      48842 non-null  uint8
 92  native_country_Thailand                    48842 non-null  uint8
 93  native_country_Trinadad&Tobago             48842 non-null  uint8
 94  native_country_United-States               48842 non-null  uint8
 95  native_country_Vietnam                     48842 non-null  uint8
 96  native_country_Yugoslavia                  48842 non-null  uint8
dtypes: int64(6), uint8(91)
memory usage: 6.5 MB

In [57]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=32)

In [58]:
from sklearn.naive_bayes import GaussianNB

gnb=GaussianNB()

In [59]:
gnb.fit(x_train,y_train)

GaussianNB()

In [60]:
gnb.score(x_test,y_test)

0.7910738048930289

In [62]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [63]:
mms=MinMaxScaler()
ss=StandardScaler()

In [65]:
x_mms=mms.fit_transform(x)
x_ss=ss.fit_transform(x)

In [66]:
xmms_train,xmms_test,y_train,y_test=train_test_split(x_mms,y,test_size=0.2,random_state=32)

In [67]:
xss_train,xss_test,y_train,y_test=train_test_split(x_ss,y,test_size=0.2,random_state=32)

In [68]:
gnb_mms=GaussianNB()
gnb_mms.fit(xmms_train,y_train)

GaussianNB()

In [69]:
gnb_mms.score(xmms_test,y_test)

0.5869587470570171

In [70]:
gnb_ss=GaussianNB()
gnb_ss.fit(xss_train,y_train)

GaussianNB()

In [71]:
gnb_ss.score(xss_test,y_test)

0.5583990172996213

In [72]:
from sklearn.preprocessing import RobustScaler

rs=RobustScaler()

x_rs=rs.fit_transform(x)

In [73]:
xr_train,xr_test,y_train,y_test=train_test_split(x_rs,y,test_size=0.2,random_state=32)

In [74]:
gnbr=GaussianNB()

In [75]:
gnbr.fit(xr_train,y_train)

GaussianNB()

In [76]:
gnbr.score(xr_test,y_test)

0.8236257549390931